body {
  color: #a5a5a5;
  background: #f7f7f7; }

.hidden {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  width: 0; }

.ui.container {
  text-align: center; }

.ui.table {
  margin: 30px auto; }

.pontos {
  width: 370px; }

.ui.table .ui.tiny.label {
  width: 100px;
  text-align: center; }

.ui.table .ui.tiny.extra {
  width: auto; }
  .ui.table .ui.tiny.extra > .detail {
    margin-left: 0; }

.ui.container .ui.form .input_ponto, .ui.input-ponto input {
  width: 80px;
  text-align: center; }

.ui.input-ponto input {
  width: 60px; }

.ui.horizontal.list > .item .icon {
  vertical-align: baseline; }

.ui.horizontal.list > .item > .content {
  padding: 0; }

.bottom-bar {
  position: absolute;
  bottom: 40px; }

.head .ui.form .field {
  display: inline-table;
  margin-right: 5px; }
  .head .ui.form .field.day .ui.dropdown {
    min-width: 65px; }

.head .date {
  display: inline-block;
  vertical-align: -webkit-baseline-middle; }

.table h4.header {
  width: 185px; }

.ui.horizontal.divider {
  width: 50%;
  margin: 0 auto; }

.icon-settings {
  display: inline-block; }

.icon-no-margin {
  margin: 0 !important; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIiRkZWZhdWx0X2NvbG9yOiAjYTVhNWE1O1xyXG5cclxuYm9keSB7XHJcblx0Y29sb3I6ICRkZWZhdWx0X2NvbG9yO1xyXG5cdGJhY2tncm91bmQ6IHJnYigyNDcsIDI0NywgMjQ3KTtcclxufVxyXG5cclxuLmhpZGRlbiB7XHJcblx0dmlzaWJpbGl0eTogaGlkZGVuO1xyXG5cdGhlaWdodDogMDtcclxuXHRwYWRkaW5nOiAwO1xyXG5cdG1hcmdpbjogMDtcclxuXHR3aWR0aDogMDtcclxufVxyXG5cclxuLnVpLmNvbnRhaW5lciB7XHJcblx0dGV4dC1hbGlnbjogY2VudGVyO1xyXG59XHJcblxyXG4udWkudGFibGUge1xyXG5cdG1hcmdpbjogMzBweCBhdXRvO1xyXG59XHJcblxyXG4ucG9udG9zIHtcclxuXHR3aWR0aDogMzcwcHg7XHJcbn1cclxuXHJcbi51aS50YWJsZSAudWkudGlueS5sYWJlbCB7XHJcbiAgd2lkdGg6IDEwMHB4O1xyXG4gIHRleHQtYWxpZ246IGNlbnRlcjtcclxufVxyXG4udWkudGFibGUgLnVpLnRpbnkuZXh0cmEge1xyXG4gIHdpZHRoOiBhdXRvO1xyXG5cclxuICAmPi5kZXRhaWwge1xyXG4gICAgbWFyZ2luLWxlZnQ6IDA7XHJcbiAgfVxyXG59XHJcblxyXG4udWkuY29udGFpbmVyIC51aS5mb3JtIC5pbnB1dF9wb250bywgLnVpLmlucHV0LXBvbnRvIGlucHV0IHtcclxuXHR3aWR0aDogODBweDtcclxuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbn1cclxuLnVpLmlucHV0LXBvbnRvIGlucHV0IHtcclxuXHR3aWR0aDogNjBweDtcclxufVxyXG4udWkuaG9yaXpvbnRhbC5saXN0Pi5pdGVtIHtcclxuXHQuaWNvbiB7XHJcblx0XHR2ZXJ0aWNhbC1hbGlnbjogYmFzZWxpbmU7XHJcblx0fVxyXG5cdCY+LmNvbnRlbnQge1xyXG5cdFx0cGFkZGluZzogMDtcclxuXHR9XHJcbn1cclxuXHJcbi5ib3R0b20tYmFyIHtcclxuXHRwb3NpdGlvbjogYWJzb2x1dGU7XHJcblx0Ym90dG9tOiA0MHB4O1xyXG59XHJcblxyXG4uaGVhZCB7XHJcblx0LnVpLmZvcm0gLmZpZWxkIHtcclxuXHRcdGRpc3BsYXk6IGlubGluZS10YWJsZTtcclxuXHRcdG1hcmdpbi1yaWdodDogNXB4O1xyXG5cdFx0Ji5kYXkgLnVpLmRyb3Bkb3duIHtcclxuXHRcdFx0bWluLXdpZHRoOiA2NXB4O1xyXG5cdFx0fVxyXG5cdH1cclxuXHQuZGF0ZSB7XHJcblx0XHRkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcblx0XHR2ZXJ0aWNhbC1hbGlnbjogLXdlYmtpdC1iYXNlbGluZS1taWRkbGU7XHJcblx0fVxyXG59XHJcblxyXG4udGFibGUge1xyXG5cdGg0LmhlYWRlciB7XHJcblx0XHR3aWR0aDogMTg1cHg7XHJcblx0fVxyXG59XHJcblxyXG4udWkuaG9yaXpvbnRhbC5kaXZpZGVyIHtcclxuXHR3aWR0aDogNTAlO1xyXG5cdG1hcmdpbjogMCBhdXRvO1xyXG59XHJcblxyXG4uaWNvbi1zZXR0aW5ncyB7XHJcblx0ZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG59XHJcblxyXG4uaWNvbi1uby1tYXJnaW4ge1xyXG5cdG1hcmdpbjogMCAhaW1wb3J0YW50O1xyXG59Il0sIm1hcHBpbmdzIjoiQUFFQSxBQUFBLElBQUksQ0FBQztFQUNKLEtBQUssRUFIVSxPQUFPO0VBSXRCLFVBQVUsRUFBRSxPQUFHLEdBQ2Y7O0FBRUQsQUFBQSxPQUFPLENBQUM7RUFDUCxVQUFVLEVBQUUsTUFBTztFQUNuQixNQUFNLEVBQUUsQ0FBRTtFQUNWLE9BQU8sRUFBRSxDQUFFO0VBQ1gsTUFBTSxFQUFFLENBQUU7RUFDVixLQUFLLEVBQUUsQ0FBRSxHQUNUOztBQUVELEFBQUcsR0FBQSxBQUFBLFVBQVUsQ0FBQztFQUNiLFVBQVUsRUFBRSxNQUFPLEdBQ25COztBQUVELEFBQUcsR0FBQSxBQUFBLE1BQU0sQ0FBQztFQUNULE1BQU0sRUFBRSxTQUFVLEdBQ2xCOztBQUVELEFBQUEsT0FBTyxDQUFDO0VBQ1AsS0FBSyxFQUFFLEtBQU0sR0FDYjs7QUFFRCxBQUFrQixHQUFmLEFBQUEsTUFBTSxDQUFDLEdBQUcsQUFBQSxLQUFLLEFBQUEsTUFBTSxDQUFDO0VBQ3ZCLEtBQUssRUFBRSxLQUFNO0VBQ2IsVUFBVSxFQUFFLE1BQU8sR0FDcEI7O0FBQ0QsQUFBa0IsR0FBZixBQUFBLE1BQU0sQ0FBQyxHQUFHLEFBQUEsS0FBSyxBQUFBLE1BQU0sQ0FBQztFQUN2QixLQUFLLEVBQUUsSUFBSyxHQUtiO0VBTkQsQUFHSSxHQUhELEFBQUEsTUFBTSxDQUFDLEdBQUcsQUFBQSxLQUFLLEFBQUEsTUFBTSxHQUdwQixPQUFPLENBQUM7SUFDUixXQUFXLEVBQUUsQ0FBRSxHQUNoQjs7QUFHSCxBQUF1QixHQUFwQixBQUFBLFVBQVUsQ0FBQyxHQUFHLEFBQUEsS0FBSyxDQUFDLFlBQVksRUFBRSxBQUFnQixHQUFiLEFBQUEsWUFBWSxDQUFDLEtBQUssQ0FBQztFQUMxRCxLQUFLLEVBQUUsSUFBSztFQUNaLFVBQVUsRUFBRSxNQUFPLEdBQ25COztBQUNELEFBQWdCLEdBQWIsQUFBQSxZQUFZLENBQUMsS0FBSyxDQUFDO0VBQ3JCLEtBQUssRUFBRSxJQUFLLEdBQ1o7O0FBQ0QsQUFDQyxHQURFLEFBQUEsV0FBVyxBQUFBLEtBQUssR0FBQyxLQUFLLENBQ3hCLEtBQUssQ0FBQztFQUNMLGNBQWMsRUFBRSxRQUFTLEdBQ3pCOztBQUhGLEFBSUcsR0FKQSxBQUFBLFdBQVcsQUFBQSxLQUFLLEdBQUMsS0FBSyxHQUl0QixRQUFRLENBQUM7RUFDVixPQUFPLEVBQUUsQ0FBRSxHQUNYOztBQUdGLEFBQUEsV0FBVyxDQUFDO0VBQ1gsUUFBUSxFQUFFLFFBQVM7RUFDbkIsTUFBTSxFQUFFLElBQUssR0FDYjs7QUFFRCxBQUNVLEtBREwsQ0FDSixHQUFHLEFBQUEsS0FBSyxDQUFDLE1BQU0sQ0FBQztFQUNmLE9BQU8sRUFBRSxZQUFhO0VBQ3RCLFlBQVksRUFBRSxHQUFJLEdBSWxCO0VBUEYsQUFJVyxLQUpOLENBQ0osR0FBRyxBQUFBLEtBQUssQ0FBQyxNQUFNLEFBR2IsSUFBSSxDQUFDLEdBQUcsQUFBQSxTQUFTLENBQUM7SUFDbEIsU0FBUyxFQUFFLElBQUssR0FDaEI7O0FBTkgsQUFRQyxLQVJJLENBUUosS0FBSyxDQUFDO0VBQ0wsT0FBTyxFQUFFLFlBQWE7RUFDdEIsY0FBYyxFQUFFLHVCQUF3QixHQUN4Qzs7QUFHRixBQUNHLE1BREcsQ0FDTCxFQUFFLEFBQUEsT0FBTyxDQUFDO0VBQ1QsS0FBSyxFQUFFLEtBQU0sR0FDYjs7QUFHRixBQUFjLEdBQVgsQUFBQSxXQUFXLEFBQUEsUUFBUSxDQUFDO0VBQ3RCLEtBQUssRUFBRSxHQUFJO0VBQ1gsTUFBTSxFQUFFLE1BQU8sR0FDZjs7QUFFRCxBQUFBLGNBQWMsQ0FBQztFQUNkLE9BQU8sRUFBRSxZQUFhLEdBQ3RCOztBQUVELEFBQUEsZUFBZSxDQUFDO0VBQ2YsTUFBTSxFQUFFLFlBQWEsR0FDckIiLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */
