body {
  color: #a5a5a5; }

.hidden {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0; }

.ui.container .ui.form .input_ponto {
  width: 80px;
  text-align: center; }

.ui.horizontal.list > .item .icon {
  vertical-align: baseline; }

.ui.horizontal.list > .item > .content {
  padding: 0; }

.bottom-bar {
  position: absolute;
  bottom: 40px; }

.head .field {
  display: inline-block; }

.head .date {
  display: inline-block;
  font-size: 20px;
  vertical-align: -webkit-baseline-middle; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIiRkZWZhdWx0X2NvbG9yOiAjYTVhNWE1O1xyXG5cclxuYm9keSB7XHJcblx0Y29sb3I6ICRkZWZhdWx0X2NvbG9yO1xyXG59XHJcblxyXG4uaGlkZGVuIHtcclxuXHR2aXNpYmlsaXR5OiBoaWRkZW47XHJcblx0aGVpZ2h0OiAwO1xyXG5cdHBhZGRpbmc6IDA7XHJcblx0bWFyZ2luOiAwO1xyXG59XHJcbi51aS5jb250YWluZXIgLnVpLmZvcm0gLmlucHV0X3BvbnRvIHtcclxuXHR3aWR0aDogODBweDtcclxuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbn1cclxuLnVpLmhvcml6b250YWwubGlzdD4uaXRlbSB7XHJcblx0Lmljb24ge1xyXG5cdFx0dmVydGljYWwtYWxpZ246IGJhc2VsaW5lO1xyXG5cdH1cclxuXHQmPi5jb250ZW50IHtcclxuXHRcdHBhZGRpbmc6IDA7XHJcblx0fVxyXG59XHJcblxyXG4uYm90dG9tLWJhciB7XHJcblx0cG9zaXRpb246IGFic29sdXRlO1xyXG5cdGJvdHRvbTogNDBweDtcclxufVxyXG5cclxuLmhlYWQge1xyXG5cdC5maWVsZCB7XHJcblx0XHRkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcblx0fVxyXG5cdC5kYXRlIHtcclxuXHRcdGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuXHRcdGZvbnQtc2l6ZTogMjBweDtcclxuXHRcdHZlcnRpY2FsLWFsaWduOiAtd2Via2l0LWJhc2VsaW5lLW1pZGRsZTtcclxuXHR9XHJcbn0iXSwibWFwcGluZ3MiOiJBQUVBLEFBQUEsSUFBSSxDQUFDO0VBQ0osS0FBSyxFQUhVLE9BQU8sR0FJdEI7O0FBRUQsQUFBQSxPQUFPLENBQUM7RUFDUCxVQUFVLEVBQUUsTUFBTztFQUNuQixNQUFNLEVBQUUsQ0FBRTtFQUNWLE9BQU8sRUFBRSxDQUFFO0VBQ1gsTUFBTSxFQUFFLENBQUUsR0FDVjs7QUFDRCxBQUF1QixHQUFwQixBQUFBLFVBQVUsQ0FBQyxHQUFHLEFBQUEsS0FBSyxDQUFDLFlBQVksQ0FBQztFQUNuQyxLQUFLLEVBQUUsSUFBSztFQUNaLFVBQVUsRUFBRSxNQUFPLEdBQ25COztBQUNELEFBQ0MsR0FERSxBQUFBLFdBQVcsQUFBQSxLQUFLLEdBQUMsS0FBSyxDQUN4QixLQUFLLENBQUM7RUFDTCxjQUFjLEVBQUUsUUFBUyxHQUN6Qjs7QUFIRixBQUlHLEdBSkEsQUFBQSxXQUFXLEFBQUEsS0FBSyxHQUFDLEtBQUssR0FJdEIsUUFBUSxDQUFDO0VBQ1YsT0FBTyxFQUFFLENBQUUsR0FDWDs7QUFHRixBQUFBLFdBQVcsQ0FBQztFQUNYLFFBQVEsRUFBRSxRQUFTO0VBQ25CLE1BQU0sRUFBRSxJQUFLLEdBQ2I7O0FBRUQsQUFDQyxLQURJLENBQ0osTUFBTSxDQUFDO0VBQ04sT0FBTyxFQUFFLFlBQWEsR0FDdEI7O0FBSEYsQUFJQyxLQUpJLENBSUosS0FBSyxDQUFDO0VBQ0wsT0FBTyxFQUFFLFlBQWE7RUFDdEIsU0FBUyxFQUFFLElBQUs7RUFDaEIsY0FBYyxFQUFFLHVCQUF3QixHQUN4QyIsIm5hbWVzIjpbXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */
