$default_color: #a5a5a5;

body {
	color: $default_color;
	background: rgb(247, 247, 247);
}

.hidden {
	visibility: hidden;
	height: 0;
	padding: 0;
	margin: 0;
	width: 0;
}

.ui.container {
	text-align: center;
}

.ui.table {
	margin: 30px auto;
}

.pontos {
	width: 370px;
}

.ui.table .ui.tiny.label {
  width: 100px;
  text-align: center;
}
.ui.table .ui.tiny.extra {
  width: auto;

  &>.detail {
    margin-left: 0;
  }
}

.ui.container .ui.form .input_ponto, .ui.input-ponto input {
	width: 80px;
	text-align: center;
}
.ui.input-ponto input {
	width: 60px;
}
.ui.horizontal.list>.item {
	.icon {
		vertical-align: baseline;
	}
	&>.content {
		padding: 0;
	}
}

.bottom-bar {
	position: absolute;
	bottom: 40px;
}

.head {
	.ui.form .field {
		display: inline-table;
		margin-right: 5px;
		&.day .ui.dropdown {
			min-width: 65px;
		}
	}
	.date {
		display: inline-block;
		vertical-align: -webkit-baseline-middle;
	}
}

.table {
	h4.header {
		width: 170px;
	}
}

.ui.horizontal.divider {
	width: 50%;
	margin: 0 auto;
}

.icon-settings {
	display: inline-block;
}