$default_color: #a5a5a5;

body {
	color: $default_color;
}

.hidden {
	visibility: hidden;
	height: 0;
	padding: 0;
	margin: 0;
}
.ui.container .ui.form .input_ponto {
	width: 80px;
	text-align: center;
}
.ui.horizontal.list>.item {
	.icon {
		vertical-align: baseline;
	}
	&>.content {
		padding: 0;
	}
}

.bottom-bar {
	position: absolute;
	bottom: 40px;
}

.head {
	.field {
		display: inline-block;
	}
	.date {
		display: inline-block;
		font-size: 20px;
		vertical-align: -webkit-baseline-middle;
	}
}

.table {
	h4.header {
		width: 170px;
	}
}