<!DOCTYPE html>
<html ng-app="myApp" data-framework="firebase">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ponto</title>
	<script>
		var module = window.module || {}
	</script>

<link rel="stylesheet" href="dist/css/styles.css">
</head>

<body ng-controller="CounterController as counter">
	<div class="ui container" ng-cloak="">
		<h1>
			<i class="calendar icon"></i> {{ dataAtual | date: 'dd MMMM, yyyy' }}
			<i class="wait icon"></i> {{ horarioAtual }}
		</h1>
		<div class="head">
			<div class="ui form">
				<form ng-submit="counter.addPonto()">
					<div class="field">
						<label>Ponto</label>
						<input class="input_ponto" type="text" ng-model="ponto.horario" ui-mask="99:99" ui-mask-placeholder ui-mask-placeholder-char="_"
							autofocus>
					</div>
					<div class="field day">
						<label>Dia</label>
						<select class="ui dropdown disabled" ng-model="selectedDay">
						  <option value="" selected>{{ dataAtual | date: 'dd' }}</option>
						</select>
					</div>
					<div class="field month">
						<label>Mês</label>
						<select class="ui dropdown disabled" ng-model="ponto.mes">
						  <option value="" selected>Julho</option>
						  <option value="0">Janeiro</option>
						  <option value="1">Fevereiro</option>
						  <option value="2">Março</option>
						  <option value="3">Abril</option>
						  <option value="4">Maio</option>
						  <option value="5">Junho</option>
						  <option value="6">Julho</option>
						  <option value="7">Agosto</option>
						  <option value="8">Setembro</option>
						  <option value="9">Outubro</option>
						  <option value="10">Novembro</option>
						  <option value="11">Dezembro</option>
						</select>
					</div>
					<div class="field more-options">
						<label for="">mais opções</label>
						<div class="ui dropdown dropdown-settings">
							<div class="text">
								<i class="ellipsis horizontal icon"></i>
							</div>
							<div class="menu">
								<div class="item" ng-click="counter.modalAdicionarHoras()">
									Adicionar horas
								</div>
								<div class="divider"></div>
								<div class="item" ng-click="counter.logout()">
									Sair
								</div>
							</div>
						</div>
					</div>
					<input type="submit" id="submit" value="Submit" class="hidden" />
				</form>
			</div>
		</div>
		<div class="info">
			<div class="ui label">
				Saída sugerida:
				<div class="detail">{{ counter.saidaSugerida() }}</div>
			</div>
			<div class="ui label animate" 
				ng-class="{
					'green': !counter.bancoDeHorasTotal().isNegative,
					'red': counter.bancoDeHorasTotal().isNegative
				}">
				Banco de horas:
				<div class="detail">{{ counter.bancoDeHorasTotal().toString() || 0 }}</div>
			</div>
			<div class="ui label animate" ng-class="{
				'green': !counter.bancoDeHorasMes().isNegative,
				'red': counter.bancoDeHorasMes().isNegative
			}">
				Banco de horas (ref: {{ counter.periodo.min | date:'dd MMM' }} a {{ counter.periodo.max | date:'dd MMM' }} ):
				<div class="detail">{{ counter.bancoDeHorasMes().toString() || 0 }}</div>
			</div>
			<div class="ui label">
				Pontos registrados:
				<div class="detail">{{ pontos.length == 0 ? 'nenhum' : pontos.length }}</div>
			</div>
		</div>
		<table class="ui very basic collapsing celled table">
			<tbody>
				<tr>
					<td>
						<h4 class="ui image header">
							<i class="disabled calendar icon"></i>
							<div class="content">
								Hoje
								<div class="ui dropdown dropdown-settings">
									<div class="text"><i class="small setting icon icon-no-margin"></i></div>
									<div class="menu">
										<div class="header">
											<b ng-if="current.feriado">Feriado</b>
											<b ng-if="!current.feriado && !counter.isDescanso()">Dia útil</b>
											<b ng-if="!current.feriado && counter.isDescanso()">Descanso</b>
										</div>
										<div class="divider"></div>
										<div class="item" ng-click="counter.marcarComoFeriado()" ng-if="!current.feriado">Mudar para Feriado</div>
										<div class="item" ng-click="counter.desmarcarComoFeriado()" ng-if="current.feriado">Mudar para Dia útil</div>
									</div>
								</div>
								<div class="sub header">
									{{ dataAtual | date : 'EEEE' }}
									<div class="ui mini horizontal yellow label" ng-if="current.feriado" ng-cloak>feriado</div>
									<div class="ui mini blue yellow label" ng-if="!current.feriado && counter.isDescanso()" ng-cloak>descanso</div>
								</div>
							</div>
						</h4>
					</td>
					<td class="pontos">
						<div class="ui mini horizontal divided list pontos">
							<div class="item" ng-repeat="p in pontos">
								<i class="wait icon"></i>
								<div class="content">
									<div class="header">{{ p }}</div>
								</div>
							</div>
							<span ng-show="pontos.length == 0">Nenhum ponto foi registrado ainda..</span>
						</div>
					</td>
					<td ng-show="pontos.length != 0">
						<div class="ui tiny label">
							Total:
							<div class="detail">{{ counter.horasTrabalhadas() }}</div>
						</div>
						<div class="ui tiny label extra" ng-class="{
                  'green': counter.verificaHoraExtra() > 0,
                  'red': counter.verificaHoraExtra() < 0
                }">
							<div class="detail">{{ counter.totalHoraExtra() }}</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="ui horizontal divider">Dias anteriores</div>
		<div class="previous-day">
			<table class="ui very basic collapsing celled table">
				<tbody>
					<tr ng-repeat="registro in pontoEletronico.user.registros |orderBy: '-date' track by registro.date" ng-if="registro.date != (dataAtual | date: 'yyyy-MM-dd')">
						<td>
							<h4 class="ui image header">
								<i class="disabled calendar icon"></i>
								<div class="content">
									{{ registro.date | date:'dd MMMM, yyyy' }}
									<div class="ui dropdown dropdown-settings">
										<div class="text"><i class="small setting icon icon-no-margin"></i></div>
										<div class="menu">
											<div class="header">
												<b ng-if="registro.feriado">Feriado</b>
												<b ng-if="!registro.feriado && !counter.isDescanso(registro)">Dia útil</b>
												<b ng-if="!registro.feriado && counter.isDescanso(registro)">Descanso</b>
											</div>
											<div class="divider"></div>
											<div class="item" ng-click="counter.marcarComoFeriado(registro)" ng-if="!registro.feriado">Mudar para Feriado</div>
											<div class="item" ng-click="counter.desmarcarComoFeriado(registro)" ng-if="registro.feriado">Mudar para Dia útil</div>
										</div>
									</div>
									<div class="sub header">
										{{registro.date | date:'EEEE'}}
										<div class="ui mini horizontal yellow label" ng-if="registro.feriado" ng-cloak>feriado</div>
										<div class="ui mini blue yellow label" ng-if="!registro.feriado && counter.isDescanso(registro)" ng-cloak>descanso</div>
									</div>
								</div>
							</h4>
						</td>
						<td class="pontos">
							<div class="ui mini horizontal divided list pontos">
								<div class="item" ng-repeat="ponto in registro.pontos">
									<i class="wait icon"></i>
									<div class="content">
										<div class="header">{{ ponto }}</div>
									</div>
								</div>
								<a ng-click="counter.showInputPonto(registro.date)"><i class="circular add icon link"></i></a>
								<form ng-submit="counter.addPonto(registro)">
									<div class="ui input input-ponto {{registro.date}} transition hidden">
										<input type="text" ng-model="horario_anterior[registro.date]" ui-mask="99:99" ui-mask-placeholder ui-mask-placeholder-char="_"
											autofocus>
									</div>
									<input type="submit" id="submit2" value="Submit" class="hidden" />
								</form>
							</div>
						</td>
						<td>
							<div class="ui tiny teal label">
								Total:
								<div class="detail">{{ counter.totalHorasTrabalhadas(registro.pontos) }}</div>
							</div>
							<div class="ui tiny label extra" ng-class="{
                    'green': counter.verificaHoraExtra(registro) > 0,
                    'red': counter.verificaHoraExtra(registro) < 0
                  }">
								<div class="detail">{{ counter.totalHoraExtra(registro) }}</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--
			<div class="ui inverted segment">
				<div class="ui inverted relaxed divided list">
					<div class="item" ng-repeat="p in pontos">
						<div class="content">
							<div class="header">{{$index %2==0 ? 'Entrada' : 'Saída'}}</div>
							{{p}}
						</div>
					</div>
				</div>
			</div>
		-->
		<!--
			<div class="bottom-bar">
				<button class="ui blue basic button">
					<i class="icon download"></i>
					Importar JSON
				</button>
				<button class="ui green basic button">
					<i class="icon upload"></i>
					Exportar para JSON
				</button>
			</div> 
		-->
	</div>

	<div class="ui modal mini" data-modal="adicionar-horas">
		<i class="close icon" ng-click="counter.fechaModalAdicionarHoras(formSalvarSaldo);"></i>
		<div class="header">Adicionar Horas</div>
		<div class="content center">
			<div class="ui form horizontal">
				<form name="formSalvarSaldo" novalidate>
					<div class="field">
						<label>Total</label>
						<input class="input_ponto" type="text" name="saldoTotal" ng-model="counter.saldo.total" ui-mask="99:99" ui-mask-placeholder
							ui-mask-placeholder-char="_" autofocus required>
					</div>
					<div class="field">
						<label for="">Saldo</label>
						<select class="ui dropdown compact" name="saldoSinal" ng-model="counter.saldo.sinal" required>
							<option value="">Informe o saldo</option>
							<option value="P">Positivo</option>
							<option value="N">Negativo</option>
						</select>
					</div>
				</form>
			</div>
		</div>
		<div class="actions">
			<button type="button" class="ui button red" ng-click="counter.resetSaldo(formSalvarSaldo)">
				<i class="icon trash icon-no-margin"></i>
			</button>
			<button type="button" class="ui button close" ng-click="counter.fechaModalAdicionarHoras(formSalvarSaldo);">Cancelar</button>
			<button type="submit" class="ui button green" ng-click="counter.salvarSaldoAnterior()" ng-disabled="formSalvarSaldo.$invalid">Salvar</button>
		</div>
	</div>

	<div class="ui modal mini" data-modal="login">
		<div class="header">Login</div>
		<div class="content">
			<div class="ui form">
				<form name="formLogin" ng-submit="counter.login()" novalidate>
					<div class="field block">
						<input type="text" class="input-block" name="username" placeholder="Usuario" ng-model="user.email" autofocus required>
					</div>
					<div class="field block">
						<input type="password" class="input-block" name="password" placeholder="Senha" ng-model="user.password" required>
					</div>
				</form>
				<div class="ui negative message" ng-if="loginForm.hasError">
					<i class="close icon" ng-click="loginForm.hasError = false;"></i>
					<div class="header">Oops! Sorry but an error occurred.</div>
					<p>{{ loginForm.error.message }}</p>
				</div>
			</div>
		</div>
		<div class="actions">
			<button type="button" class="ui fluid button teal" 
				ng-click="counter.login()"
				ng-disabled="formLogin.$invalid"
				ng-class="{
					'loading': counter.loading
				}">
				<u>Sign in</u> or <u>Sign up</u>
			</button>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.8/angular-locale_pt-br.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<script src="//www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angularFire/2.1.0/angularfire.min.js"></script>

	<script src="dist/js/vendors.js"></script>
	<script src="src/js/main.js"></script>
	<script>
		$(document).ready(function () {
			$('.ui.dropdown').dropdown();
			$('.ui.dropdown-settings').dropdown({
				action: 'hide'
			});
			$('.icon.button').popup();
		});
	</script>
</body>

</html>