<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ponto</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.8/angular-locale_pt-br.min.js"></script>
	<script type="text/javascript" src="node_modules/hmh/index.js"></script>
	<script type="text/javascript" src="node_modules/angular-ui-mask/dist/mask.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<link rel="stylesheet" href="css/semantic.min.css">
	<link rel="stylesheet" href="css/icon.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="CounterController">
	<div class="ui container">
		<h1>Counter</h1>
		<div class="head">
			<div class="ui form">
				<form ng-submit="addPonto()">
					<div class="field">
						<label>Ponto</label>
						<input class="input_ponto" type="text" ng-model="ponto" ui-mask="99:99" ui-mask-placeholder ui-mask-placeholder-char="_" autofocus>
					</div>
					<div class="date">
						<i class="calendar icon"></i> {{ dataAtual | date: 'dd De MMMM, yyyy' }}
						<i class="wait icon"></i> {{ horarioAtual }}
					</div>
					<input type="submit" id="submit" value="Submit" class="hidden"/>
				</form>
			</div>
		</div>
		<div class="info">
			<div class="ui label">
				Horas trabalhadas:
				<div class="detail">{{ horasTrabalhadas() }}</div>
			</div>
			<div class="ui label red animate">
				Banco de horas:
				<div class="detail">-2h</div>
			</div>
			<div class="ui label">
				Pontos registrados:
				<div class="detail">{{ pontos.length == 0 ? 'nenhum' : pontos.length }}</div>
			</div>
		</div>
		<table class="ui very basic collapsing celled table">
			<tbody>
				<tr>
					<td>
						<h4 class="ui image header">
							<i class="disabled calendar icon"></i>
							<div class="content">
								Hoje
								<div class="sub header"> {{ dataAtual | date : 'EEEE' }}
								</div>
							</div>
						</h4></td>
						<td>
							<div class="ui mini horizontal divided list pontos">
								<div class="item" ng-repeat="p in pontos">
									<i class="wait icon"></i>
									<div class="content">
										<div class="header">{{ p }}</div>
									</div>
								</div>
								<span ng-show="pontos.length == 0">Nenhum ponto foi registrado ainda..</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<table class="ui very basic collapsing celled table">
				<thead>
					<tr>
						<th>Dias anteriores</th>
						<th>Registros</th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="registro in pontoEletronico.user.registros |orderBy: '-date' track by $index"
						ng-if="registro.date != (dataAtual | date: 'yyyy-MM-dd')">
						<td>
							<h4 class="ui image header">
								<i class="disabled calendar icon"></i>
								<div class="content">
									{{ registro.date | date:'dd MMMM, yyyy' }}
									<div class="sub header">{{registro.date | date:'EEEE'}}</div>
								</div>
							</h4>
						</td>
						<td>
							<div class="ui mini horizontal divided list pontos">
								<div class="item" ng-repeat="ponto in registro.pontos">
									<i class="wait icon"></i>
									<div class="content">
										<div class="header">{{ ponto }}</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!--
			<div class="ui inverted segment">
				<div class="ui inverted relaxed divided list">
					<div class="item" ng-repeat="p in pontos">
						<div class="content">
							<div class="header">{{$index %2==0 ? 'Entrada' : 'Saída'}}</div>
							{{p}}
						</div>
					</div>
				</div>
			</div>
			-->
			<!--
			<div class="bottom-bar">
			<button class="ui blue basic button">
				<i class="icon download"></i>
				Importar JSON
			</button>
			<button class="ui green basic button">
				<i class="icon upload"></i>
				Exportar para JSON
			</button>
		</div> -->
	</div>
</body>
</html>
