<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ponto</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/hmh/index.js"></script>
	<script type="text/javascript" src="node_modules/angular-ui-mask/dist/mask.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<link rel="stylesheet" href="css/semantic.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="CounterController">
	<div class="ui container">
		<h1>Counter</h1>
		<div class="ui form">
		  <form ng-submit="addPonto()">
		  	<div class="fields">
			    <div class="field">
			      <label>Ponto</label>
			      <input type="text" ng-model="ponto" ui-mask="99:99" ui-mask-placeholder ui-mask-placeholder-char="_"autofocus>
			      <input type="submit" id="submit" value="Submit" class="hidden"/>
			    </div>
			  </div>
		  </form>
			<div class="ui label">
			  Horas trabalhadas:
			  <div class="detail"> 08h 33m</div>
			</div>
			<div class="ui label">
			  Pontos registrados:
			  <div class="detail">{{pontos.length == 0 ? 'nenhum' : pontos.length}}</div>
			</div>
		</div>
		<div class="ui inverted segment">
		  <div class="ui inverted relaxed divided list">
		    <div class="item" ng-repeat="p in pontos">
		      <div class="content">
		        <div class="header">{{$index %2==0 ? 'Entrada' : 'Saída'}}</div>
		        {{p}}
		      </div>
		    </div>
		  </div>
		</div>
	  <div class="ui submit button">Exportar para JSON</div>
	</div>
</body>
</html>