$default_color: #a5a5a5;

body {
	color: $default_color;
	background: rgb(247, 247, 247);
}

.hidden {
	visibility: hidden;
	height: 0;
	padding: 0;
	margin: 0;
	width: 0;
}

.ui.container {
	text-align: center;
}

.ui.table {
	margin: 30px auto;
}

.pontos {
	width: 370px;
}

.ui.table .ui.tiny.label {
  width: 100px;
  text-align: center;
}
.ui.table .ui.tiny.extra {
  width: auto;

  &>.detail {
    margin-left: 0;
  }
}
.input_ponto {
	width: 80px;
}
.ui.container .ui.form .input_ponto, .ui.input-ponto input,
.modal .ui.form .input_ponto, .ui.input-ponto input {
	width: 80px;
	text-align: center;
}
.ui.input-ponto input {
	width: 60px;
}
.ui.horizontal.list>.item {
	.icon {
		vertical-align: baseline;
	}
	&>.content {
		padding: 0;
	}
}

.bottom-bar {
	position: absolute;
	bottom: 40px;
}

.head {
	.ui.form .field {
		display: inline-table;
		margin-right: 5px;
		&.day .ui.dropdown {
			min-width: 65px;
		}

		&.more-options {
			cursor: pointer;

			&:hover {
				.icon {
					color: #000;
				}
			}

			> label { 
				color: #a5a5a5;
				line-height: 20px; 
			}

			
			.icon { 
				margin-top: 10px;
				font-size: 26px;
				transition: all .3s ease;
			}
		}
	}
	.date {
		display: inline-block;
		vertical-align: -webkit-baseline-middle;
	}
}

.table {
	h4.header {
		width: 185px;
	}
}

.ui.horizontal.divider {
	width: 50%;
	margin: 0 auto;
}

.icon-settings {
	display: inline-block;
}

.icon-no-margin {
	margin: 0 !important;
}

.ui.modal {
	&.mini {
		width: 400px;
		margin-top: -220px !important;
		margin-bottom: 0;
		margin-right: 0; 
		margin-left: -200px;
	}
	.ui.form .field {
		display: inline-table;
		margin-right: 5px;
	}

	& > .close {
		top: 1.0535rem;
		right: 1rem;
		color: rgba(0,0,0,.87);
	}
	.actions>.button:first-child {
		margin-left: 0 !important;
	}
}


.center {
	text-align: center;
}

.block {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}